@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}
.azul{
	background-color: #3399FF;
	color: #3399FF;
}
.celeste{
	background-color: #99CCFF;
	color: #99CCFF;
}
.naranja{
	background-color: #FF9900;
	color: #FF9900;
}
.rosado{
	background-color: #FF9999;
	color: #FF9999;
}
li a span{
	text-align: center;
	left: 200px;
}
li{
    display: block;
	font-family: "dosis";
}
.nombre{
	width: 100px;
	margin-left: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: black;
	position: relative;
	left: 100px;
	display: none;

}
a:hover .nombre{
	display: block;
}
.caja{
	width: 100px;
	height: 100px;
	display: table-cell;
	text-decoration: none;
	position: relative;
}
